{% block ezplatform_tags_blockfield_widget %}
{#    {% set root_form_language_code = form.parent.parent.parent.vars.language_code %}#}
    <div class="ng-tags-input-ui">
        <div class="eztags-wrapper">
            <div id="eztags{{ form.parent.vars.value.id }}" class="tagssuggest"
                 data-eztags
                 data-autocomplete-url="{{ path('netgen_tags_admin_field_autocomplete') }}"
                 data-children-url="{{ path('netgen_tags_admin_field_children') }}"
                 data-builder="{% if form.vars.tags_options.edit_view is defined %}{{ form.vars.tags_options.edit_view }}{% else %}Default{% endif %}"
                 data-max-results="{% if form.vars.tags_options.max_results is defined %}{{ form.vars.tags_options.max_results }}{% else %}0{% endif %}"
                 data-has-add-access="0"
                 data-subtree-limit="{% if form.vars.tags_options.subtree_limit is defined %}{{ form.vars.tags_options.subtree_limit }}{% else %}0{% endif %}"
                 data-hide-root-tag="{% if form.vars.tags_options.hide_root_tag is defined and form.vars.tags_options.hide_root_tag|default(false) %}1{% else %}0{% endif %}"
                 data-max-tags="{% if form.vars.tags_options.max_tags is defined %}{{ form.vars.tags_options.max_tags }}{% else %}0{% endif %}"
                 data-locale="{{ form.vars.language_code }}"
                 data-icon-path=""
            >
                {{ form_row(form.ids, {attr: {class: 'tagids'}}) }}
                {{ form_row(form.parent_ids, {attr: {class: 'tagpids'}}) }}
                {{ form_row(form.keywords, {attr: {class: 'tagnames'}}) }}
                {{ form_row(form.locales, {attr: {class: 'taglocales'}}) }}
            </div>
            {% include '@EzSystemsTagsFormType/field/browse.html.twig' %}
        </div>
    </div>
{% endblock %}